{{#> layout}}
   
  
        <div id="mobile-menu-list" class="mobile-menu-list
         mobile-menu-hide">
            <a href="index" >Home</a>
            <a href="blog" class="menu-active">Blog</a>
            <a href="Contact">Contact Me</a>
        </div>

    <!-- BLOG DETAIL SECTION -->
   
<section class="blog-detail">
    <h1>Pasar Coding Indonesia</h1>

    <p>30 Jan 2025 11:22 WIB | Amelia K.</p>

   <img src="/img/pandaProgramming.jpg "alt="blog-image">

   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, excepturi aut soluta vero nemo facere sed in vitae! Ullam beatae numquam rem labore delectus voluptas odit nobis enim in dignissimos!</p>
</section>
{{/layout}}