<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Progress 1</title>
    <link rel="icon" href="/img/icon emoji.jpg" />
    <link rel="stylesheet" href="/css/syle.css">
    <link href="/css/boothstrap/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   
</head>
<body>
    <!-- NAVBAR -->
   
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
         
            <a class="navbar-brand" href="#">
                <img src="/img/logo.png" alt="Bootstrap" 
                width="50">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="testimonials">Testimonials</a>
              </li>
            </ul>
            <a class="btn btn-orangered" href="Contact">Contact Me</a>
          </div>
        </div>
      </nav>
   
        <div id="mobile-menu-list" class="mobile-menu-list
         mobile-menu-hide">
            <a href="index" >Home</a>
            <a href="blog" class="menu-active">Blog</a>
            <a href="testimonials" >Testimonials</a>
            <a href="Contact">Contact Me</a>
        </div>
   
      <!-- create blog -->
     <form id="create-blog" class="create-blog-form" onsubmit="addBlog(event)">
    <h2>Create blog</h2>
    <div class="input-group mb-3">
        <!-- <span class="input-group-text" id="title">Title</span> -->
        <input id="title" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="title"
        placeholder="Title"
        required

        />
      </div>

      <div class="input-group  mb-3">
        <!-- <span class="input-group-text">Content</span> -->
        <textarea placeholder="Content" id="content" class="form-control" aria-label="content" rows="6"></textarea>
      </div>

      <div class="input-group mb-3">
        <input type="file" class="form-control" id="image">
        <label class="input-group-text" for="image">Upload</label>
      </div>

    <div class="button-container">
    <button type="submit">Submit</button>
</div>
</form> 

<hr style="width:90%; margin: 0px auto ;">

<!-- blog list -->

<section id="bloglist" class="blog-list">
    <article class="blog-item ">
     <div class="blog-item-img">
       <img src="/img/pandaProgramming.jpg" alt="blog-image">
     </div>
     <div class="blog-item-text">
     <div class="blog-item-buttons">
             <button class="blog-edit-button">Edit blog</button>
             <button class="blog-post-button">Post blog</button>
    </div>
        <a href="blog-detail.html" style="text-decoration: none;">
            <h1 class="blog-item-title">Pasar Coding Di Indonesia</h1>
        </a>
      
         <p>30 jan 2025 11;22 wib | amelia</p>
         <p>
             It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem.</p>
         <p class="blog-item-relative-time">1 day ago</p>    
 
     </div>
    </article>
    <script src="/js/navbar.js"></script>
<script src="/js/blog.js"></script>
<script src="/js/boothstrap/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
   </script>


</body>
</html>