<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Progress 1</title>
    <link rel="icon" href="/img/icon emoji.jpg" />
    <link rel="stylesheet" href="/css/syle.css">
</head>

<body>
     <!-- NAVBAR -->
   
     <nav>
        <div class="main-menu">
        <ul class="navbar-links">
            <img src="assets/img/logo panda.avif" width="30px">
           <li>
             <a href="index" style="text-decoration: none; color: black;">Home</a>
          </li>
          <li>
           <a href="blog" style="text-decoration: none; color: black;">Blog</a>
         </li>
       </ul>
           <a class="nav-contact-button" href="Contact">Contact Me</a>
        </div>
        <div class="mobile-menu">
            <img src="/img/logo panda.avif" width="40px">
          
            <button id="hamburger-button" class="hamburger-button">☰</button>
        </div>
    </nav>
        <div id="mobile-menu-list" class="mobile-menu-list
         mobile-menu-hide">
            <a href="index.html" >Home</a>
            <a href="blog.html" class="menu-active">Blog</a>
            <a href="Contact.html">Contact Me</a>
        </div>

    <!-- BLOG DETAIL SECTION -->
   
<section class="blog-detail">
    <h1>Pasar Coding Indonesia</h1>

    <p>30 Jan 2025 11:22 WIB | Amelia K.</p>

   <img src="assets/img/pandaProgramming.jpg "alt="blog-image">

   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, excepturi aut soluta vero nemo facere sed in vitae! Ullam beatae numquam rem labore delectus voluptas odit nobis enim in dignissimos!</p>


</section>
<script src="/js/navbar.js"></script>
    </body>
    </html>