{{#> layout currentPage="Home"}}
      {{!-- <main class="main-content">
      <!-- profile-card -->
     <section id="card-section">
        <div class="profile-card">
       <img class="profile-img" src="/img/WhatsApp Image 2025-01-29 at 10.50.45_8a6a9049.jpg">
    
        <h2 style="color: rgb(0, 0, 0);">Amelia Kulsum Effendi</h2>
    
     <p style="color: gray;"> This is the first website i studied at Dumbways Bootcamp  </p>   
   
       <table class="table table-striped table-hover">
        <tr>
            <th scope="col">Experience</th>
           <th scope="col">Year</th>
        </tr>
            <td >Develop Personal Web  </td>
            <td>2025</td>
        </tr>
       </table>
        </div>
     </section>
    <!-- introductionsection -->
     <section id="introduction">
     <div id="what-i-do">
        <h1>What I Do</h1>
      <p>   and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. </p>
    </div>
    <div id="technologies">
        <div id="javascript">
        <img src="/img/js.png" width="50px">
        <h2>Frontend Developer</h2>
        <p> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum</p>
    </div>
    <div id="Version Control">
        <img src="/img/github.png" width="50px">
        <h2>Version Control</h2>
        <p> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum </p>
    </div>
    <div id="Automated Deployment">
        <img src="/img/deploy.png" alt="">
        <h2>Automated Deployment</h2>
        <p> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum</p>
    </div>
</div> 
    <!-- technologies -->
    <div id="technologies">

    </div>
     <!-- sosial -->
     <div id="socials">
        <h2>Fin Me On</h2>
        <div>
            <a href="https://www.facebook.com/profile.php?id=100055821158579">
                <img src="/img/facebook.png" width="50px">
            </a>
            <a href="#">
                <img src="/img/twitter.png" width="50px">
            </a>
            <a href="https://www.instagram.com/_ijiiaaa21?igsh=MXIwdDhpYnM4dGxudA==">
                <img src="/img/instagram.png" width="50px">
            </a>
            <a href="mailto:ameliakulsum21@gmail.com">
                <img src="/img/email.png" width="50px">
            </a>
            <a href="https://wa.me/085716456008" target="_blank">
                <img src="/img/whatsapp.png" width="50px">
            </a>
      </div>
     </div>
    </section>
   </main>  --}}

 {{!-- <div style="background-image: linear-gradient(to right top, #da1d88, #d95cad, #d785c9, #d6a9de, #dbc9ea, #dbc9ea, #dbcae9, #dbcae9, #d6abdb, #d789c5, #d963a7, #d83181);" class="homeLuar"> --}}

<main class="main-content">
      <!-- profile-card -->
     <section id="card-section">
        <div style="
    border-radius: 10px;
     box-shadow: 0px 0px 4px 4px #bdbdbd; 
       padding: 10px; 
       margin: 20px auto; " class="profile-card">
       <img class="profile-img" src="/img/profil.jpg">
    
        <h2 style="color: rgb(0, 0, 0); text-align: center;">Amelia Kulsum Effendi</h2>
    
     <p style=" text  color: gray; text-align: center;"> Dumbways </p>   
   
        </div>
     </section>
    <!-- introductionsection -->
     <section id="introduction">
     <div id="what-i-do">
        <h1>Hi Welcome To My Hut</h1>
      <p>Hi, my name is Amelia Kulsum Effendi, I live in West Java, Bogor to be precise, I graduated from high school in Sukabumi Answerarat at an Islamic boarding school, I graduated in 2024, then I taught at 2 schools as. after teaching me, this is the first website I created, I learned from one of the boothcamps in West Java, namely Dumbways. </p>
    </div>
    <div id="technologies">
        <div id="javascript">
        <img src="/img/js.png" width="50px">
        <h2>Frontend Developer</h2>
        <p> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum</p>
    </div>
    <div id="Version Control">
        <img src="/img/github.png" width="50px">
        <h2>Version Control</h2>
        <p> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum </p>
    </div>
    <div id="Automated Deployment">
        <img src="/img/deploy.png" alt="">
        <h2>Automated Deployment</h2>
        <p> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum</p>
    </div>
</div> 

 <div class="buttons">
                <button class="contact-btn-black">Contact</button>
                <a href="#" class="download-cv">Download CV <span>&#8681;</span></a>
            </div>
    <!-- technologies -->
    <div id="technologies">

    </div>
     <!-- sosial -->
     <div id="socials">
        <h2 style="text-align: center;">Fin Me On</h2>
        <div style="text-align: center;">
            <a href="https://www.facebook.com/profile.php?id=100055821158579">
                <img src="/img/facebook.png" width="50px">
            </a>
            <a href="https://www.instagram.com/_ijiiaaa21?igsh=MXIwdDhpYnM4dGxudA==">
                <img src="/img/instagram.png" width="50px">
            </a>
            <a href="mailto:ameliakulsum21@gmail.com">
                <img src="/img/email.png" width="50px">
            </a>
            <a href="https://wa.me/085716456008" target="_blank">
                <img src="/img/whatsapp.png" width="50px">
            </a>
      </div>
     </div>
    </section>
   </main> 
</div>
{{!-- profil card project --}}
    
     {{!-- <main class="main-content"> 
    <!-- introductionsection -->
     <div class="container">
 <div class="card">
     <section id="introduction">
     <div>
        <h1>Hi Welcome To My Hut</h1>
      <p>   and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"  </p>
    </div>
  
   <div class="profile">
       <img class="profile-img" src="/img/profil.jpg">
    
        <h2 style="color: rgb(0, 0, 0);">Amelia Kulsum Effendi</h2>
    
     <p style="color: gray;"> Member Dumbways   </p>   
    </div>
   
     <!-- sosial -->
     <div id="socials">
        <div>
            <a href="https://www.facebook.com/profile.php?id=100055821158579">
                <img src="/img/facebook.png" width="50px">
            </a>
            <a href="#">
                <img src="/img/twitter.png" width="50px">
            </a>
            <a href="https://www.instagram.com/_ijiiaaa21?igsh=MXIwdDhpYnM4dGxudA==">
                <img src="/img/instagram.png" width="50px">
            </a>
            <a href="mailto:ameliakulsum21@gmail.com">
                <img src="/img/email.png" width="50px">
            </a>
            <a href="https://wa.me/085716456008" target="_blank">
                <img src="/img/whatsapp.png" width="50px">
            </a>
      </div>
     </div>
    </section>
     
     </div>
     </div>
   </main> --}}
{{/layout}}