{{#> layout currentPage="Project"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
  
</head>

 <!-- <!- PROJECT DETAIL --> 
{{!-- <div style="background-image: linear-gradient(to right top, #da1d88, #d95cad, #d785c9, #d6a9de, #dbc9ea, #dbc9ea, #dbcae9, #dbcae9, #d6abdb, #d789c5, #d963a7, #d83181);" class="homeLuar"> --}}
        <h2 style="text-align: center;">My Projects</h2>

        <section id="projectList" class="projectList" style="width: 90%; margin: 30px auto; display: flex; gap: 40px;" >

            <div class="project-grid" 
            style= "width: 25%; border: 1px solid #aaa; padding :15px; box-sizing: border-box; border-radius: 5px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
            ">
           <img src="/img/project1.jpeg" alt="project 1" style="width: 100%; border-radius: 5px;">
            <h3 style=" font-size: 18px;  margin: 10px 0 5px; color: #333;
                ">Mobile App - 2025</h3>

            <p style=" font-size: 14px; color: #a3a2a2;">Durasi 1 bulan</p>
            <p style="  font-size: 14px;  color: #535252;
            ">App that used for dumbways student, it was deployed and Happy download App that used for dumbways student, it was deployed and Happy download</p>
            <div style="margin: 10px 0; font-size: 20px;" class="icons">
                <a href="">
                    <img src="/assets/img/playstore.png"  style=" width: 30px ; text-decoration: none; margin-right: 10px;"  alt="">
                </a>
                <a href="">
                    <img src="/assets/img/icons8-android-50.png" style=" width: 30px ; text-decoration: none; margin-right: 10px;" alt="">
                </a>
                <a href="">
                    <img src="/assets/img/icons8-java-50.png" style=" width: 30px ; text-decoration: none; margin-right: 10px;"alt="">
                </a>
            
            </div>
      <button class="buttons-pro" style="background: black; color: white; border: none;
          padding: 3px 17%; border-radius: 5px; cursor: pointer;
           ">Edit</button>
     <button class="buttons-pro" style="background: black; color: white; border: none;    padding: 3px 15%; border-radius: 5px; cursor: pointer; margin-left: 17px;
         ">Delete</button>
                </div> 

        </div>

        </div>
        </section>

</body> 

</html> 

{{/layout}}