{{#> layout currentPage="testimonials"}}

   <!-- Main Content Testimonials -->
  <main> 
    <h1 style="text-align: center;">My Testimonials</h1>
    <h3  style="text-align: center;">Rating By Star</h3>

<!-- star buttons -->
 <div class="testimonials-stars-buttons">
    <button onclick="showAllTestimonials()">All</button>
    <button onclick="filterTestimonialsByStar(1)">1★</button>
    <button onclick="filterTestimonialsByStar(2)">2★</button>
    <button onclick="filterTestimonialsByStar(3)">3★</button>
    <button onclick="filterTestimonialsByStar(4)">4★</button>
    <button onclick="filterTestimonialsByStar(5)">5★</button>
 </div>

 <!-- TESTIMONIALS- LIST -->
  <div id="testimonialsContainer" class="testimonials-list">
    <article>
    <img src="/img/img pro.jpg" alt="Testimonials-imagee">
    <P class="testimonials-list-cption"> "Karyamu Sangat Keren"</P>
    <p style="text-align: right;">Amelia kulsum</p>
    <p style="text-align: right; font-weight: bold;" >5★</p>
    </article> 
   
  </div>
<script src="/js/testimonials.js"></script>
{{/layout}}