@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: "poppins",serif ;
}

body {
    margin: 0;
 
}

nav {
    background-color: #e6976a; 
    padding: 2px 40px;
}

.btn-orangered {
    background-color: orangered !important;
    color: white !important;
}
.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;


}

.mobile-menu {
    display: none;
}

.menu-active {
    color: orangered !important;
    font-weight: 700;
}
.mobile-menu-list {
    display: none;
}

.hamburger-button {
    font-size: 36px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.navbar-links {
   display: flex;
   gap: 40px;
   align-items: center;
   list-style: none;
   padding: 0%;
 
}

.menu-active {
    color: orangered !important;
    font-weight: 700;
}

    .navbar-link a { 
    text-decoration: none; 
    color: black; 
 
}

.nav-contact-button {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
}

/* CONTACT FORM STYLES */

.contact-form {
    width: 500px;
 margin: 20px auto;
}

.contact-form h2 {
    text-align: center;
}

.form-field {
    display: flex;
    flex-direction:column ;
    margin-bottom: 15px;
    gap: 10px;
}

.form-field input, select, textarea {
    padding: 10px;
    font-size: 16px;
    background-color: rgb(226, 221, 221) ;
    border: 2px solid rgb(215, 212, 212);
    border-radius: 5px;
}

.contact-form button {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 16px;
    font-family: poppins, serif;
}


.main-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
   
}
/* profile card */

#card-section {
    flex: 1;
    width: 90%;
     
} */

 .profile-card {
   
    border-radius: 10px;
     box-shadow: 0px 0px 30px 10px #aaa; 
       padding: 10px; 
       margin: 20px auto; 
  }  
  
.profile-table {
    border-style: solid;
    border-collapse: collapse; 
    width: 100%;
} 

.profile-img {
    border-radius: 15px;
    width: 100%; 
}
 

/* profile introduction */
#introduction {
   flex: 2.5;
}

#what-i-do h1{
margin-top: 0;
}
#technologies {
    display: flex;
    gap: 20px;
}

#socials h2 {
    margin-top: 0;
}

#socials a {
    text-decoration: none;
    margin-right: 10px;
}

#socials a img {
    width: 40px;
}

    /* create blog form styles */

    .create-blog-form {
        width: 500px;
       margin: 20px auto;
    }
    
    .create-blog-form h2 {
        text-align: center;
    }

.button-container {
    text-align: right;
    margin-top: 30px;

}

    .create-blog-form button {
        text-decoration: none;
        background-color: red;
        color: white;
        padding: 10px 25px;
        border-radius: 10px;
        border: none;
        text-align: center;
        font-size: 16px;
        font-family: poppins, serif;
    }

    /* blog list style */
    .blog-list {
        width: 90%;
        margin: 30px auto 300px;
    }

    .blog-item {
        height: 300px;
        padding: 15px;
        border: 1px solid #aaa;
        border-radius: 15px;
        display:flex;
        gap: 15px;
        margin-bottom: 20px;

    }

  

    .blog-item-text {
        flex: 1; 
    }

    .blog-item-title {
       color: black;
      font-size: 24px;
     margin: 0;
    }

    .blog-item-buttons {
        text-align: right;
    }

   .blog-edit-button {
   font-size: 16px;
   font-family: "popins", serif;
    background-color: #ccc;
    color: black;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
   cursor: pointer;
  
   }

  .blog-item-relative-time {
color: #aaa;
font-size: 14px;
text-align: right;
  }
  
.blog-post-button {
     text-decoration: none;
    font-size: 16px;
    font-family: "popins", serif;
     background-color:orangered;
     color: white;
     padding: 10px 25px;
     border-radius: 5px;
     border: none;
    cursor: pointer;  

}
    /* BLOG DETAIL STYLES */
 
.blog-detail {
    width: 60%;
   margin: 40px auto;
}

.blog-detail img{
width: 100%;

}

@media screen and (max-width: 768px) {
nav {
    padding: 2px 15px;
}

.main-menu {
 display: none;
}

.menu-active {
    background-color: orangered !important;
    color: white !important;
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-show {
   display: block;
}

.mobile-menu-hide {
    display: none;
}


.mobile-menu-list a{
    display: block;
    text-decoration: none;
    border: 1px solid;
    background-color: #aaa;
    color: white;
    text-align: center;
    padding: 10px;
}


.main-content {
display: contents;

}

#card-section {
    padding: 30px;
}

#introduction {
padding: 0 30px 30px;
}

#technologies {
    flex-direction: column;
}

#technologies img {
    width: 40px;
    height: 40px;
}
#technologies h2 {
    margin: 5px 0;
}

/* CONTACT PAGE */
.contact-form {
    width: 90%;
}


/* BLOG PAGE */
.create-blog-form {
    width: 95%;
}

.blog-item {
    flex-direction: column;
}
}

.blog-item-img img {
    height: 100% ;
}
/* BLOG DETAIL */
.blog-detail {
    width: 90%;
}


/*                       CARD           */

 .container {
    display: flex;
    justify-content: center;
    
}   

/* .container {
    width: 80%;
    max-width: 900px;
}  */


.card {
     display: flex; 
     background: rgb(62, 53, 53);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.2);
    max-width: 900px; 
    width: 100%; 

   
}

.content {
    flex: 1;
    padding-right: 20px;
}

.content h2 {
    font-size: 25px;
    font-weight: bold;
}

.content p {
    color: gray;
    font-size: 14px;
    line-height: 1 ,5;
}

.buttons {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.contact-btn-black {
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.download-cv {
text-decoration: none;
color: black;
display: flex;
align-items: center;
}


.socials-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socials-icons img {
    width: 30px;
    height: 30px;
}

.profile {
    text-align: center;
    background-color: white;
    width: 300px;
}

.profile img {
    width: 200px;
    height: 200px;
}

.profile h3 {
    font-weight: bold;
    margin: 10px 0 5px;
}

.profile p {
    color: gray;
    font-size: 16px;
}
/* my project */ 



.form-container {
  
    background-color: rgb(219, 45, 45);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h3 {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 6px;

}

.form-check-input {
    cursor: pointer;
}

.btn-dark {
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    text-align: right;

}


/* project */

.project-card {
    width: 90%;
    background-color: aqua;
}